block head 
  link(rel="stylesheet", href="/css/messageBlock.css")

block content 
  .container
    .row.justify-content-md-center
      .col-10
        if message.insideBox
          .cardbox.without-margin-top.add-flex
            .content-box
              h1.center #{message.title}
              p.cardbox-text #{message.text}
            if message.image
              img.image-right-side(src=message.image.url, alt=message.image.alt)
        else 
          h1.center #{message.title}
          .cardbox.without-margin-top.add-flex
            .content-box
              p.cardbox-text #{message.text}
            if message.image
              img.image-right-side(src=message.image.url, alt=message.image.alt)
