extends layouts/layout/index

block head
  link(rel="stylesheet", href="/css/pages/info.css")

block content
  .container
    h1.title.bold #{message.title}
    .flex-view
      .content
        p.text #{message.text}
        if message.hasButton 
          a.btn.btn-primary(href=message.button.link) #{message.button.text}
            if message.button.hasSideIcon 
              span.icon
                i(class= message.button.icon.type + " fa-" + message.button.icon.name)
      if message.image
        img.image(src=message.image.url, alt=message.image.alt)


