doctype html
html(lang="pt-BR")
  head
    title=(title ? title + " | " : "") + "Vale Desentupidora - Entupiu? Ligue 24 horas " + number.formated
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="theme-color" content="#01cc00")
    meta(name="description" content=description || "Entupiu? Conte com quem entende de desentupimento! A Vale Desentupidora realiza serviços de desentupimento em geral. Estamos 24 horas à sua disposição!")
    meta(name="keywords" content=keywords || "desentupidora 24 horas detetização desentupir pias ralos vasos sanitários esgotos canos colunas redes pluviais caça vazamento de água limpeza de caixa d'água limpeza de caixa de gordura limpa fossa")
    meta(name="author" content="KuryKat")
    meta(property="og:type" content="website")
    meta(property="og:description" content=description || "Entupiu? Conte com quem entende de desentupimento! A Vale Desentupidora realiza serviços de desentupimento em geral. Estamos 24 horas à sua disposição!")
    meta(property="og:keywords" content=keywords || "desentupidora 24 horas detetização desentupir pias ralos vasos sanitários esgotos canos colunas redes pluviais caça vazamento de água limpeza de caixa d'água limpeza de caixa de gordura limpa fossa")
    meta(property="og:site_name" content="Vale Desentupidora")
    meta(property="og:url" content="valedesentupidora.com.br")
    meta(property="og:image" content="/img/logo.png")
    link(rel="icon" href="/img/favicon.ico" type="image/x-icon" sizes="128x128")

    //- CSS LIBS
    link(rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/lib/font-awesome/css/all.min.css")

    //- MAIN CSS
    link(rel="stylesheet" href="/css/style.css")

    //- JS LIBS
    script(src="/lib/bootstrap/js/bootstrap.bundle.min.js")
    script(src="/lib/jquery.min.js")
    script(src="/lib/font-awesome/js/all.min.js" defer)

    //- MAIN JS
    script(src="/js/index.js")
    block head
  body
    include navbar
    a.whatsapp-badge(href="https://api.whatsapp.com/send?phone=" + number.clean + "&text=Olá")
      img(src="/img/icons/WhatsApp_icon.png", alt="Ícone Whatsapp")
    include contact
    
    block content
    include budget
    include footer
            
